<!-- Submit Sound PLayer -->
<audio #submitPlayer src="https://api.namitoyokota.com/assets/sounds/submit.wav"></audio>

<!-- Completion Sound Player -->
<audio #completePlayer src="https://api.namitoyokota.com/assets/sounds/complete.mp3"></audio>

<!-- Header -->
<div class="header-pane">
    <div class="logo-pane">
        <span class="logo-title">Todo Today</span>
        <span class="logo-subtitle">To do app that resets every midnight</span>
    </div>
</div>

<!-- Main -->
<div class="main-pane">
    <!-- New Task -->
    <div class="add-pane">
        <ny-input placeholder="Add a new task" [text]="newTask" [dark]="true" (changed)="newTask = $event" (searched)="submit()"></ny-input>
        <ny-button text="Submit" [dark]="true" [disabled]="!newTask.length" (clicked)="submit()"></ny-button>
    </div>

    <!-- Tasks -->
    <div class="card-list" *ngIf="!isLoading">
        <div class="card" [@fadeOutLeftBigOnLeave] *ngFor="let task of tasks">
            <span>
                {{ task }}
            </span>
            <div class="complete">
                <i class="complete-icon fa-solid fa-check fa-lg" (click)="complete(task)"></i>
            </div>
        </div>
    </div>

    <!-- Codebase Link -->
    <div class="codebase-pane">
        <a href="https://www.github.com/namitoyokota/todo-today" target="_blank">GitHub</a>
    </div>

    <!-- Loading Indicator -->
    <div class="loading-pane" *ngIf="isLoading">
        <ny-spinner></ny-spinner>
    </div>
</div>
