<!-- Submit Sound PLayer -->
<audio #submitPlayer src="https://api.namitoyokota.com/assets/sounds/submit.wav"></audio>

<!-- Completion Sound Player -->
<audio #completePlayer src="https://api.namitoyokota.com/assets/sounds/complete.mp3"></audio>

<!-- Header -->
<div class="header-pane">
    <div class="logo-pane">
        <span class="logo-title">Todo Today</span>
        <span class="logo-subtitle">To do app that resets every midnight</span>
    </div>
</div>

<!-- Main -->
<div class="main-pane">
    <!-- New Task -->
    <div class="add-pane">
        <mono-input
            placeholder="Add a new task"
            [text]="newTask"
            [dark]="true"
            (changed)="newTask = $event"
            (searched)="submit()"
        ></mono-input>
        <mono-button
            text="Submit"
            [title]="!newTask.length ? 'You cannot add an empty task.' : ''"
            [dark]="true"
            [disabled]="!newTask.length"
            (clicked)="submit()"
        ></mono-button>
    </div>

    <!-- Tasks -->
    <div *ngIf="!isLoading" class="card-list" cdkDropList (cdkDropListDropped)="drop($event)">
        <div
            *ngFor="let task of tasks; let i = index"
            class="card"
            cdkDrag
            [@fadeOutLeftBigOnLeave]
            [class]="i === bounceIndex ? 'animate__animated animate__rubberBand' : ''"
        >
            <span>
                {{ task }}
            </span>
            <div class="complete">
                <i class="complete-icon fa-solid fa-check fa-lg" (click)="complete(task)"></i>
            </div>
        </div>
    </div>

    <!-- Codebase Link -->
    <div class="codebase-pane">
        <a href="https://www.github.com/namitoyokota/todo-today" target="_blank">GitHub</a>
    </div>

    <!-- Loading Indicator -->
    <div class="loading-pane" *ngIf="isLoading">
        <mono-spinner [dark]="true"></mono-spinner>
    </div>
</div>
